@import "src/styles/variables.scss";
.deduction__container {
  height: 100%;
  .deduction-list {
    @include flexBox($justifyContent: center, $gap: 5px);
    margin: 0 auto;
    padding: 0;
    list-style-type: none;
    li {
      width: 20%;
      a {
        display: block;
        width: 100%;
        padding: 10px 0;
        background-color: #26c5bc;
        border-radius: 5px;
        font-size: $font-size-non-mobile-primary;
        color: white;
        text-align: center;
        &.active {
          background: #0a5f5a;
          font-weight: bold;
        }
      }
    }
  }
}

@media screen and (max-width: $mobile-max-width) {
  .deduction__container {
    .deduction-list {
      li {
        a {
          font-size: $font-size-mobile-primary;
        }
      }
    }
  }
}
