@import "src/styles/variables.scss";

.add_income__form {
  display: flex;
  flex-direction: column;
  gap: 1vw;
  width: 35vw;
  max-height: 70vh;
  overflow: auto;
  align-items: stretch;
  justify-content: flex-start;
  padding: 3vw;
  .income_group__select {
    gap: 8px;
    label {
      padding: 0 10px;
      font-weight: 500;
      font-size: 1.2vw;
      color: var(--primary-font-color);
    }
    &:global(.MuiFormControl-root) {
      :global(.MuiInputLabel-root) {
        color: var(--primary-font-color);
      }
      :global(.MuiInputBase-root) {
        color: var(--primary-font-color);
        font-size: 1vw;
        padding: 1vw;
        :global(.MuiSelect-select) {
          padding: 0;
        }
        :global(.MuiSvgIcon-root) {
          fill: var(--navigation-active-color);
          font-size: 2vw;
        }
        :global(.MuiOutlinedInput-notchedOutline) {
          border-color: var(--navigation-active-color);
          border-radius: 2vw;
        }
      }
    }
  }

  .action_btn__container {
    display: flex;
    flex-wrap: wrap;
    justify-content: flex-end;
    gap: 0.5vw;
    width: 100%;
    padding: 1vw 0 0 0;
    :global(.MuiButton-root) {
      width: 35%;
      font-size: 1.2vw;
      font-weight: bold;
      padding: 0.5vw;
      text-transform: capitalize;
      border-radius: 1vw;
      :global(.MuiSvgIcon-root) {
        font-size: 1.2vw;
      }
    }
    .action_btn__submit {
      background-color: var(--primary-color);
      color: var(--secondary-font-color);
    }
    .action_btn__clear {
      width: 10%;
      background-color: var(--primary-bg-color);
      color: var(--primary-font-color);
      border-color: var(--primary-bg-color);
    }
  }
}
@media (max-width: $mobile-max-width) {
  .add_income__form {
    max-width: 300px;
    width: 95vw;
    gap: 5px;
    padding: 20px;
    .income_group__select {
      gap: 4px;
      label {
        font-size: 14px;
      }
      &:global(.MuiFormControl-root) {
        :global(.MuiInputLabel-root) {
          color: var(--primary-font-color);
        }
        :global(.MuiInputBase-root) {
          font-size: 12px;
          padding: 10px 15px;
          :global(.MuiSvgIcon-root) {
            font-size: 12px;
          }
          :global(.MuiOutlinedInput-notchedOutline) {
            border-radius: 15px;
          }
        }
      }
      :global(.MuiInputBase-root .MuiSelect-outlined) {
        padding: 10px 15px;
      }
    }
    .action_btn__container {
      padding: 15px 0 0 0;
      :global(.MuiButton-root) {
        font-size: 12px;
        padding: 4px;
        width: 45%;
        border-radius: 5px;
        :global(.MuiSvgIcon-root) {
          font-size: 12px;
        }
      }

      .action_btn__clear {
        width: 10%;
      }
    }
  }
}
@media screen and (max-width: 400px) {
  .add_income__form {
    max-width: 200px;
  }
}
