@import "src/styles/variables.scss";

.add_income__form {
  display: flex;
  flex-direction: column;
  gap: 20px;
  width: 75%;
  max-width: 40vw;
  margin: 25px auto;
  .income_group__select {
    gap: 8px;
    label {
      padding: 0 10px;
      font-weight: 500;
      color: var(--primary-font-color);
    }
  }
  :global(.MuiFormControl-root) {
    :global(.MuiInputLabel-root) {
      color: var(--primary-font-color);
    }
    :global(.MuiInputBase-root) {
      color: var(--primary-font-color);
      :global(.MuiSvgIcon-root) {
        fill: var(--navigation-active-color);
      }
      :global(.MuiOutlinedInput-notchedOutline) {
        border-color: var(--navigation-active-color);
        border-radius: 15px;
      }
    }
  }
  :global(.MuiTextField-root) {
    :global(.MuiInputLabel-root) {
      color: var(--primary-font-color);
      &:global(.Mui-disabled) {
        color: var(--navigation-link-color);
      }
    }
    :global(.MuiInputBase-root:hover .MuiOutlinedInput-notchedOutline) {
      border-color: var(--navigation-active-color);
    }
    :global(.MuiInputBase-root) {
      color: var(--primary-font-color);

      &:global(.Mui-focused .MuiOutlinedInput-notchedOutline) {
        border-color: var(--navigation-active-color);
      }
      &:global(.Mui-disabled) {
        color: var(--navigation-link-color);
      }
    }
    :global(.MuiOutlinedInput-notchedOutline) {
      border-color: var(--navigation-link-color);
    }
  }
  .action_btn__container {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    gap: 0.5vw;
    width: 100%;
    :global(.btn) {
      font-size: 1.2vw;
    }
    .action_btn__submit {
      width: 70%;
    }
    .action_btn__clear {
      width: 28%;
    }
  }
}
@media (max-width: $mobile-max-width) {
  .add_income__form {
    max-width: 95vw;
    width: 95%;
    margin: 5px auto;
    gap: 5px;
    .income_group__select {
      gap: 4px;
      :global(.MuiInputBase-root .MuiSelect-outlined) {
        padding: 10px 15px;
      }
    }
    .action_btn__container {
      padding: 15px 0 0 0;
      :global(.btn) {
        font-size: 12px;
        padding: 10px;
        width: 45%;
      }
    }
  }
}
