@import "src/styles/variables.scss";

.add_income__form {
  display: flex;
  flex-direction: column;
  gap: 3vh;
  width: 75%;
  max-width: 40vw;
  margin: 0 auto;
  .action_btn__container {
    display: flex;
    flex-wrap: wrap;
    gap: 0.5vw;
    width: 100%;
    justify-content: space-between;
    .action_btn__submit {
      width: 70%;
    }
    .action_btn__clear {
      width: 28%;
    }
  }
}
@media (max-width: $mobile-max-width) {
  .add_income__form {
    max-width: 95%;
  }
}
