@import "src/styles/variables.scss";

.income__options_container {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: flex-start;
  align-content: flex-start;
  gap: 2vw;
  width: 100%;
  padding: 2vw 0;
  a {
    color: var(--primary-font-color);
  }
  .income__option {
    box-shadow: 0px 1px 1px 0px var(--primary-color);
    background-color: var(--secondary-bg-color);
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 20vw;
    height: 7vw;
    font-size: 1.5vw;
    transition: transform 0.5s ease-in;
    cursor: pointer;
    border-radius: 2vw;
    :global(.MuiSvgIcon-root) {
      font-size: 1.5vw;
    }
    &:active {
      transform: scale(1.2);
    }
  }
}
@media (max-width: $mobile-max-width) {
  .income__options_container {
    .income__option {
      width: 150px;
      height: 70px;
      font-size: 12px;
      :global(.MuiSvgIcon-root) {
        font-size: 12px;
      }
    }
  }
}
