@import "src/styles/variables.scss";
.income__container {
  display: grid;
  grid-template-rows: auto 1fr;
  grid-auto-flow: column;
  width: 100%;
  height: 100%;
  .income__header {
    display: flex;
    justify-content: space-between;
    margin: 0 3vw;
    padding: 1vw 4vw;
    border-bottom: 2px solid var(--primary-color);
    font-size: 2vw;
  }
  .income__options_container {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: flex-start;
    align-content: flex-start;
    gap: 2vw;
    width: 100%;
    padding: 2vw 0;
    div {
      box-shadow: 0px 2px 3px 0px rgba(var(--primary-color), 0.4);
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;
      width: 250px;
      height: 100px;
      transition: transform 0.5s ease-in;
      cursor: pointer;
      border-radius: 2vw;
      &:active {
        transform: scale(1.2);
      }
    }
  }
} 
@media (max-width: $mobile-max-width) {
  .income__container {
    .income__options_container {
      div {
        width: 155px;
      }
    }
  }
}
