.deduction_entry__container {
  display: flex;
  gap: 5px;
  justify-content: space-around;
  flex-wrap: wrap;
  background-color: var(--primary-color);
  border-radius: 15px;
  border-left: 20px solid var(--secondary-color);
  padding: 15px;
  align-items: center;
  color: var(--secondary-color);
  font-size: 0.8rem;
  box-shadow: 6px 5px 17px 0px rgba($card-shadow, 0.5);
  width: 90vw;
  max-width: 600px;
  margin: 0 auto;
  section {
    width: 60%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 15px;
  }
  .deduction_entry_action_icon {
    &:global(.MuiIconButton-root) {
      color: inherit;
      font-size: inherit;
    }
  }
}
.deduction_entry__form {
  display: flex;
  flex-direction: column;
  gap: 10px;
  padding: 25px 20px;
  width: 85vw;
  max-width: 400px;
  max-height: 60vh;
  overflow: auto;
  font-size: 1.1rem;

  .action_btn__container {
    display: flex;
    justify-content: flex-end;
    flex-wrap: wrap;
  }
}
.add_deduction__container {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  align-items: center;
  font-size: 1.1rem;
  font-weight: 500;
  color: var(--secondary-color);
}
