@import "src/styles/variables.scss";
.deduction__container {
  height: 100%;
  .deduction_list {
    width: 50%;
    display: flex;
    flex-direction: column;
    gap: 16px;
    align-items: center;
    margin: 0 auto;
    padding: 2vh 0;
    list-style-type: none;
    padding: 2vw;
    font-size: 14px;
    li {
      width: 100%;
      a {
        display: block;
        width: 100%;
        padding: 10px 0;
        box-shadow: 0px 1px 1px 0px var(--primary-color);
        border-radius: 5px;
        color: var(--primary-font-color);
        background-color: var(--secondary-bg-color);
        text-align: center;
        &.active {
          background: #0a5f5a;
          font-weight: bold;
        }
        .deduction_list__item {
          display: flex;
          width: 100%;
          justify-content: space-between;
          padding: 0 2vw;
          align-items: center;
        }
      }
    }
  }
}

@media screen and (max-width: $mobile-max-width) {
  .deduction__container {
    .deduction_list {
      width: 90%;
      li {
        a {
          font-size: $font-size-mobile-primary;
        }
      }
    }
  }
}
