@use "src/styles/variables.scss";
.deduction__container {
  height: 100%;
  .deduction_list {
    width: 50%;
    display: flex;
    flex-direction: column;
    gap: 1.5vw;
    align-items: center;
    margin: 0 auto;
    padding: 2vw 0;
    list-style-type: none;
    font-size: 1.2vw;
    li {
      width: 100%;
      a {
        display: block;
        width: 100%;
        border-radius: 2vw;
        color: var(--primary-font-color);
        background-color: var(--secondary-bg-color);
        text-align: center;
        :global(.MuiSvgIcon-root) {
          font-size: 2.5vw;
        }
        &.active {
          background: #0a5f5a;
          font-weight: bold;
        }
        .deduction_list__item {
          display: flex;
          width: 100%;
          justify-content: space-between;
          align-items: center;
          padding: 1vw 2vw;
          border-left: 1vw solid var(--primary-color);
          border-radius: 1vw;
          strong {
            text-align: left;
          }
        }
      }
    }
  }
}

@media screen and (max-width: $mobile-max-width) {
  .deduction__container {
    .deduction_list {
      width: 90%;
      gap: 10px;
      font-size: 12px;
      li {
        a {
          border-radius: 15px;
          :global(.MuiSvgIcon-root) {
            font-size: 25px;
          }
          .deduction_list__item {
            padding: 15px;
            border-width: 15px;
            border-radius: 8px;
          }
        }
      }
    }
  }
}
