.deduction_header__container {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  padding: 10px 0;
  border-bottom: 2px solid var(--secondary-color);
  font-size: 1.1rem;
  font-weight: 500;
  color: var(--secondary-color);
  .deduction__title {
    margin: 0;
  }
  .deduction__amount {
    margin: 0;
  }
  :global(.Button-root) {
    padding: 10px 30px;
    box-shadow: 3px 3px 4px 1px rgba($card-shadow, 0.2);
  }
}

.deduction_delete__container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 15px;
  background-color: var(--primary-color);
  border-radius: 8px;
  width: 60vw;
  max-width: 400px;

  .delete__message {
    h1 {
      text-align: center;
      font-size: 1rem;
      margin-bottom: 10px;
      font-weight: 400;
      color: var(--secondary-color);

      span {
        font-size: 1.2rem;
        font-style: italic;
        font-weight: 900;
      }
    }
  }
  .action__buttons {
    display: flex;
    justify-content: space-around;
    gap: 15px;
    flex-wrap: wrap;
    :global(.Button-root) {
      padding: 10px 20px;
    }
  }
}
.deduction_entry__form {
  display: flex;
  flex-direction: column;
  align-items: flex-end;
  width: 75vw;
  max-width: 400px;
  gap: 10px;
  .action_btn__container {
    width: 100%;
    display: flex;
    justify-content: flex-end;
    gap: 5px;
  }
}

@media screen and (max-width: $mobile-max-width) {
  .deduction_header__container {
    font-size: 14px;
  }
}
