.deduction_header__container {
  position: fixed;
  top: 170px;
  background: var(--primary-color);
  z-index: 2;
  width: 50vw;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  border-radius: 90px;
  padding: 15px 25px;
  box-shadow: 3px 2px 10px 8px rgba($card-shadow, 0.25);

  align-items: flex-start;
  gap: 10px;
  //border-bottom: 2px solid var(--secondary-color);
  font-size: 0.8rem;
  font-weight: 500;
  color: var(--secondary-color);
  section {
    width: 100%;
    display: flex;
    gap: 10px;
    justify-content: space-between;

    .deduction_data {
      display: flex;
      flex-direction: column;
      align-items: flex-start;
      justify-content: space-around;
      .deduction__title {
        margin: 0;
        font-size: 1rem;
        font-weight: 600;
      }
      .deduction__amount {
        margin: 0;
        font-size: 0.7rem;
      }
    }
    :global(.Button-root.contained) {
      padding: 10px 30px;
      font-size: 0.8rem;
      border-radius: 50px;
    }
  }

  .deduction_note {
    font-size: 0.6rem;
    font-style: italic;
    position: absolute;
    background: var(--secondary-color);
    bottom: -12px;
    padding: 5px 20px;
    border-radius: 50px;
    color: var(--primary-color);
  }
}

.deduction_delete__container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 15px;
  background-color: var(--primary-color);
  border-radius: 8px;
  width: 60vw;
  max-width: 400px;

  .delete__message {
    h1 {
      text-align: center;
      font-size: 1rem;
      margin-bottom: 10px;
      font-weight: 400;
      color: var(--secondary-color);

      span {
        font-size: 1.2rem;
        font-style: italic;
        font-weight: 600;
      }
    }
  }
  .action__buttons {
    display: flex;
    justify-content: space-around;
    gap: 15px;
    flex-wrap: wrap;
    :global(.Button-root) {
      padding: 10px 20px;
    }
  }
}
.deduction_entry__form {
  display: flex;
  flex-direction: column;
  align-items: flex-end;
  width: 75vw;
  max-width: 400px;
  gap: 10px;
  .action_btn__container {
    width: 100%;
    display: flex;
    justify-content: flex-end;
    gap: 5px;
  }
}

@media screen and (max-width: $mobile-max-width) {
  .deduction_header__container {
    font-size: 14px;
    padding: 0 0 5px 0;
    .deduction_data {
      flex-direction: column;
      flex-direction: column;
      align-items: flex-start;
      width: 50%;
    }
    :global(.Button-root) {
      font-size: 14px;
      padding: 8px 15px;
    }
  }
}
