@import "src/styles/variables.scss";
.breakup__container {
  display: flex;
  justify-content: center;
  gap: 35px;
  padding: 22px 0;
  flex-wrap: wrap;
  border-bottom: 1px solid #c3c1c1;
  .tax-details {
    display: flex;
    flex-direction: column;
    background: #c7efc7;
    padding: 10px;
    border-radius: 5px;
    gap: 5px;
    align-items: center;
    box-shadow: inset -2px -2px 3px green;
    position: relative;
    .regime-type {
      font-weight: bold;
    }
    .best-choice-regime {
      background-color: green;
      border-radius: 50%;
      padding: 10px;
      position: absolute;
      top: -15px;
      left: -20px;
      color: white;
      border: 5px solid #c7efc7;
    }
  }
}

@media screen and (max-width: $mobile-max-width) {
  .breakup__container {
    flex-direction: column;

    .tax-details {
      font-size: $font-size-10;
      padding: 7px;
      width: 80%;
      margin: 0 auto;
      text-align: center;
      .tax-amount {
        display: flex;
        flex-direction: column;
      }
      .best-choice-regime {
        padding: 5px;
        top: -12px;
        left: -6px;
      }
    }
  }
}
