.select__container {
  gap: 8px;

  .error {
    color: var(--error-color)
  }

  &.MuiFormControl-root {
    .MuiInputBase-root {
      padding: 10px 20px;
      background-color: $color-white;
      font-family: inherit;

      .MuiSelect-select {
        padding: 0;
      }

      .MuiOutlinedInput-notchedOutline {
        box-shadow: 1px 2px 4px rgba($card-shadow, 0.5);
        border: none;
      }
    }
  }
}