@use "src/styles/variables.scss";
.select__container {
  gap: 0.5vw;
  label {
    padding: 0 1vw;
    font-weight: 500;
    font-size: 1.2vw;
    color: var(--primary-font-color);
  }
  &.MuiFormControl-root {
    .MuiInputLabel-root {
      color: var(--primary-font-color);
    }
    .MuiInputBase-root {
      color: var(--primary-font-color);
      font-size: 1vw;
      padding: 1vw;
      .MuiSelect-select {
        padding: 0;
      }
      .MuiSvgIcon-root {
        fill: var(--navigation-active-color);
        font-size: 2vw;
      }
      .MuiOutlinedInput-notchedOutline {
        border-color: var(--navigation-active-color);
        border-radius: 2vw;
      }
    }
  }
}
@media screen and (max-width: $mobile-max-width) {
  .select__container {
    gap: 8px;
    label {
      padding: 0 10px;
      font-size: 14px;
    }
    &.MuiFormControl-root {
      .MuiInputBase-root {
        font-size: 12px;
        padding: 5px 15px;

        .MuiSvgIcon-root {
          font-size: 12px;
        }
        .MuiOutlinedInput-notchedOutline {
          border-radius: 10px;
        }
      }
    }
  }
}
