[data-theme="dark"] {
  --primary-bg-color: #15251e;
  --secondary-bg-color: #972a0b;
  --primary-color: #efebeb;
  --secondary-color: #c1bdbd;
  --primary-font-color: #ffffff;
  --secondary-font-color: #000000;
}
