[data-theme="dark"] {
  --primary-bg-color: #15251e;
  --secondary-bg-color: #972a0b;
  --primary-color: #275541;
  --secondary-color: #afe9d1;
  --primary-font-color: #ffffff;
  --secondary-font-color: #000000;

  --secondary-color-light: #afe9d12e;
}
