[data-theme="dark"] {
  --primary-bg-color: #531706;
  --secondary-bg-color: #972a0b;
  --primary-color: #efebeb;
  --secondary-color: #c1bdbd;
  --primary-font-color: #ffffff;
  --secondary-font-color: #000000;
  --navigation-link-color: #efb4a2;
  --navigation-active-color: #f1ebeb;
}
