:root {
  --primary-bg-color: #f5f9f8;
  --secondary-bg-color: #fffdfd;
  --primary-color: #ebfff7;
  --secondary-color: #275541;
  --primary-font-color: #000000;
  --secondary-font-color: #ffffff;

  --navigation-link-color: #215a4b;
  --navigation-active-color: #b8860b;

  --secondary-color-light: #15251e2e;
}
