:root {
  --primary-bg-color: #fdfcfc;
  --secondary-bg-color: #fffdfd;
  --primary-color: #afe9d1;
  --secondary-color: #892b10;
  --primary-font-color: #000000;
  --secondary-font-color: #ffffff;
  
  --navigation-link-color: #215a4b;
  --navigation-active-color: #051c52;
}
