// Font Family
$primary-font-family : 'Tahoma';
// Font Size
$font-size-10 : 10px;
$font-size-12 : 12px;
$font-size-14 : 14px;
$font-size-15 : 15px;
$font-size-25 : 25px;
// Color
$color-quartz :  #4A4A4A;
$color-black : #000000;


// Font Weight
$font-weight-700 : 700;
$font-weight-500 : 500;

$mobile-max-width : 787px