@import "src/styles/variables.scss";
.navigation-list {
  box-shadow: inset 8px 6px 7px #72240c42;
  display: flex;
  justify-content: center;
  gap: 2vw;
  width: 60vw;
  margin: 0;
  padding: 0.5vw 0;
  background: var(--primary-bg-color);
  border-radius: 50px;
  list-style-type: none;
  li > a {
    color: var(--navigation-link-color);
    text-decoration: none;
    font-size: 1vw;
    font-weight: 500;
    .MuiSvgIcon-root {
      font-size: 1vw;
    }
    &.active {
      color: var(--navigation-active-color);
    }
  }
}
@media screen and (max-width: $mobile-max-width) {
  .navigation-list {
    gap: 8px;
    width: 40%;
    li > a {
      .MuiSvgIcon-root {
        font-size: 14px;
      }
    }
  }
}
