@import "src/styles/variables.scss";
.navigation-list {
  box-shadow: inset 8px 6px 7px #72240c42;
  display: flex;
  justify-content: center;
  gap: 20px;
  width: 60%;
  margin: 0 auto;
  padding: 9px;
  background: var(--primary-bg-color);
  border-radius: 50px;
  list-style-type: none;
  li > a {
    @include font($size: $font-size-non-mobile-primary, $weight: bold);
    color: var(--navigation-link-color);
    text-decoration: none;
    font-size: 1.5vw;
    .MuiSvgIcon-root{
      font-size: 1.5vw;
    }
    &.active {
      color: var(--navigation-active-color);
    }
  }
}
@media screen and (max-width: $mobile-max-width) {
  .navigation-list {
    gap: 8px;
    width: 40%;
    li > a {
      .MuiSvgIcon-root{
        font-size: 14px
      }
    }
  }
}
