.header__container {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  box-sizing: border-box;
  padding: 1.2vh 0;
  background-color: $header-bg-color;
  .header__text {
    width: 20%;
    text-align: center;
    font-weight: bold;
    color: var(--navigation-link-color);
    font-weight: 900;
    font-size: 0.8rem;
  }
  .header__theme {
    width: 20%;
    text-align: center;
  }
}

@media screen and (max-width: $mobile-max-width) {
  .header__container {
    justify-content: space-between;
    padding: 0 10px;
    .header__text {
      width: 30%;
      font-size: $font-size-mobile-primary;
    }
    .header__theme {
      width: 30%;
    }
  }
}
