@import 'src/styles/variables.scss';

.header__container {
    box-shadow: 1px 5px 3px rgba($color-quartz, 0.30);
    display: flex;
    justify-content: flex-start;
    align-items: center;
    margin: 0 0 10px 0;
    padding: 20px 80px;

    .header__text {
        margin: 0;
        padding: 0 0 0 10px;
        font-size: $font-size-25;
        font-weight: $font-weight-700;
    }
}

@media screen and (max-width:$mobile-max-width) {
    .header__container {
        justify-content: center;
        padding: 10px;

        .app-logo {
            font-size: $font-size-15;
        }

        .header__text {
            font-size: $font-size-15;
        }
    }
}