@import "src/styles/variables.scss";

.header__container {
  @include flexBox($justifyContent: flex-start, $alignItems: center);
  box-shadow: 1px 5px 3px rgba($color-quartz, 0.3);
  box-sizing: border-box;
  margin: 0 0 10px 0;
  padding: 15px 50px;
  background-color: #f9fbf9;
  .app-logo.MuiSvgIcon-root {
    @include dimension($width: 15px, $height: 15px);
  }
  a {
    color: $color-navigation;
    span {
      @include font($size: $font-size-non-mobile-primary, $weight: bold);
    }
    &.active {
      color: $color-navigation-active;
    }
  }
}

@media screen and (max-width: $mobile-max-width) {
  .header__container {
    justify-content: center;
    padding: 10px;
    .app-logo.MuiSvgIcon-root {
      @include dimension($width: 12px, $height: 12px);
    }
    a > span {
      font-size: $font-size-mobile-primary;
    }
  }
}
