.header__container {
  position: fixed;
  display: flex;
  justify-content: space-between;
  align-items: center;
  box-sizing: border-box;
  width: 100%;
  padding: 10px 20px;
  background-color: var(--primary-color);
  border-bottom: 2px solid var(--secondary-color-light);
  text-align: center;
  z-index: 10;
}
.header_landing__container {
  @extend .header__container;
}
.header_user__container {
  @extend .header__container;
  .header__title {
    width: 30%;
  }
}
.header__title {
  width: 75%;
  display: flex;
  flex-wrap: wrap;
  gap: 10px;
  align-items: center;
  justify-content: flex-start;
  font-size: 1.2rem;
  font-weight: 900;
  span {
    color: var(--secondary-color);
  }
  :global(.theme_button__root) {
    background-color: var(--secondary-color);
    color: var(--primary-color);
    :global(.MuiSvgIcon-root) {
      width: 1.2rem;
      height: 1.2rem;
    }
  }
}
@media screen and (max-width: $mobile-max-width) {
  .header_landing__container {
    .header__title {
      font-size: 0.8rem;
    }
  }
  .header_user__container {
    @extend .header__container;
    .header__title {
      width: 70%;
    }
  }
}
