@import "src/styles/variables.scss";

.income_breakdown_container {
  color: var(--primary-font-color);
  display: flex;
  flex-direction: column;
  .income_breakdown_header {
    display: flex;
    justify-content: space-between;
    text-transform: capitalize;
    padding: 0 0 1vw 0;
    border-bottom: 0.2vw solid var(--navigation-link-color);
    font-size: 1.5vw;
    font-weight: bold;
    text-align: left;
  }
  .income_component_container {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 2vw;
    overflow: auto;
    width: 100%;
    max-height: 50vh;
    padding: 2vh 0;
    background-color: var(--primary-bg-color);
    .income_component {
      box-shadow: 0px 1px 1px 0px var(--primary-color);
      display: flex;
      flex-direction: row;
      align-items: flex-start;
      justify-content: space-between;
      width: 95%;
      padding: 1.5vw;
      font-size: 1.2vw;
      background-color: var(--secondary-bg-color);
      cursor: pointer;
      border-radius: 0.5vw;
      :global(.MuiSvgIcon-root) {
        color: var(--primary-color);
        font-size: 2.5vw;
      }
      :global(.MuiOutlinedInput-input) {
        padding: 2px;
      }
    }
  }
}
.income_edit__container {
  padding: 5vw;

  border-radius: 10px;
  display: flex;
  flex-direction: column;
  gap: 32px;
  align-items: center;
  .edit__header {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    flex-wrap: wrap;
    border-bottom: var(--primary-color);
    font-size: 2vw;
    width: 100%;
  }
  :global(.MuiInput-input) {
    font-size: 2vw;
  }
  :global(.MuiFormHelperText-root) {
    font-size: 1.2vw;
  }
  :global(.btn) {
    width: 100%;
    font-size: 15px;
  }
}
@media screen and (max-width: $mobile-max-width) {
  .income_breakdown_container {
    .income_breakdown_header {
      font-size: 14px;
      padding: 0 0 5px 0;
      border-width: 2px;
    }
    .income_component_container {
      padding: 10px;
      max-height: 25vh;

      .income_component {
        padding: 10px;

        font-size: 12px;
        :global(.MuiSvgIcon-root) {
          font-size: 15px;
        }
      }
    }
  }
}
