.income_header__container {
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 70%;
  margin: 15px auto;
  color: var(--secondary-color);
  flex-wrap: wrap;
  .header__actions {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: flex-start;
    gap: 10px;
    flex-wrap: wrap;
    .header__title {
      margin: 0;
    }
    :global(.Button-root.contained) {
      box-shadow: 2px 2px 3px 1px rgba($card-shadow, 0.3);
      padding: 10px 25px;
    }
  }
  .income_amount__label {
    display: flex;
    justify-content: space-between;
    border: 2px solid var(--secondary-color);
    width: 45vw;
    max-width: 200px;
    font-size: 1rem;
    > span:first-child {
      background-color: var(--secondary-color);
      color: var(--primary-color);
    }
    span {
      padding: 8px;
    }
  }
}
.income_options__container {
  display: flex;
  flex-direction: column;
  gap: 5px;
  justify-content: space-between;
  align-items: flex-end;
  flex-wrap: wrap;
  padding: 14px;
  width: 80%;
  margin: 0 auto;

  :global(.TUITable_container) {
    color: var(--secondary-color);
    :global(.TUITable_header h2) {
      color: var(--secondary-color);
    }
    :global(.TUITable_root) {
      :global(thead) {
        background-color: var(--secondary-color);
        color: var(--primary-color);
      }
      :global(tbody tr td) {
        color: var(--secondary-color);
        :global(.MuiSvgIcon-root) {
          font-size: 1rem;
        }
      }
      :global(tbody tr:nth-child(even)) {
        //background-color: var(--secondary-color-light);
        :global(td) {
          color: var(--secondary-color);
        }
      }
    }
  }
  :global(.TUISearch_root) {
    background-color: var(--primary-color);
    color: var(--secondary-color);
    padding: 1px;
    gap: 2px;
    border-radius: 20px;
    padding: 5px 10px;
    border: none;
    box-shadow: 3px 3px 4px 1px rgba($card-shadow, 0.2);
    :global(.MuiSvgIcon-root) {
      font-size: 1rem;
      font-weight: 600;
      color: var(--secondary-color);
    }
    :global(.TUISearch_input) {
      background-color: transparent;
      border-radius: 20px;
      color: var(--secondary-color);
    }
  }
  .income_option__delete {
    cursor: pointer;
  }
  .income__amount {
    display: flex;
    align-items: center;
    justify-content: center;
    cursor: pointer;
    gap: 5px;
  }
}
.income_delete__container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 15px;
  background-color: var(--primary-color);
  border-radius: 8px;
  width: 60vw;
  max-width: 400px;

  .delete__message {
    h1 {
      text-align: center;
      font-size: 1rem;
      margin-bottom: 10px;
      font-weight: 400;
      color: var(--secondary-color);

      span {
        font-size: 1.2rem;
        font-style: italic;
        font-weight: 600;
      }
    }
  }
  .action__buttons {
    display: flex;
    justify-content: space-around;
    gap: 15px;
    flex-wrap: wrap;
    :global(.Button-root) {
      padding: 10px 20px;
    }
  }
}
.income_edit__container .edit__header {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  font-size: 1.2rem;
}

@media screen and (max-width: $mobile-max-width) {
  .income_header__container {
    width: 90%;
    gap: 5px;
    .header__actions {
      .header__title {
        font-size: 14px;
      }
      :global(.Button-root.contained) {
        padding: 5px 10px;
      }
    }
    .income_amount__label {
      margin: 0 0 0 auto;
      width: 40vw;
      font-size: 14px;
    }
  }
  .income_options__container {
    width: 95%;
    :global(.TUITable__mobile_container .TUITable__content) {
      color: var(--secondary-color);
      background-color: var(--primary-color);
      box-shadow: 0 4px 1px rgba($card-shadow, 0.25);
    }
    :global(.TUITable_container .TUITable_header) {
      flex-wrap: wrap;
    }
    :global(.TUITable_container .TUITable_content) {
      color: var(--primary-color);
    }
  }
  .income_edit__container .edit__header {
    font-size: 14px;
  }
}
