@import "src/styles/variables.scss";

.income_breakdown_container {
  color: var(--primary-font-color);
  .income_breakdown_header {
    display: flex;
    .info {
      font-size: 12px;
      font-style: italic;
    }
  }
  .income_component_container {
    display: flex;
    flex-wrap: wrap;
    gap: 1vw;
    overflow: auto;
    width: 100%;
    max-height: 60vh;
    padding: 2vh 0;
    .income_component {
      box-shadow: 1px 2px 2px var(--primary-color);
      display: flex;
      flex-direction: row;
      justify-content: space-between;
      width: 200px;
      padding: 15px;
      background: rgba(var(--primary-color), 0.08);
      cursor: pointer;
      border-radius: 5px;
      :global(.MuiSvgIcon-root) {
        color: var(--primary-color);
      }
    }
  }
}
