.add_rent__container {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  align-items: center;
  font-size: 1rem;
  font-weight: 500;
  color: var(--secondary-color);
}

.add_rent_entry__form {
  display: flex;
  flex-direction: column;
  gap: 10px;
  padding: 25px;
  width: 80vw;
  max-width: 500px;
  max-height: 60vh;
  overflow: auto;
  font-size: 1.1rem;
  .action_btn__container {
    display: flex;
    justify-content: flex-end;
    flex-wrap: wrap;
  }
}
