@import "src/styles/variables.scss";
.text_field__container {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: flex-start;
  gap: 4px;
  .text_field__header {
    padding: 0 10px;
    font-size: 1.2vw;
    font-weight: 500;
    color: var(--primary-font-color);
  }
  .text_field__input {
    &.MuiTextField-root {
      width: 100%;
      .MuiInputBase-root {
        border-radius: 2vw;
        font-size: 1vw;
        color: var(--primary-font-color);
        .MuiInputBase-input {
          padding: 1vw;
        }
        .MuiInputAdornment-root {
          color: var(--navigation-link-color);
          .MuiSvgIcon-root {
            font-size: 1.2vw;
            fill: var(--navigation-active-color);
          }
        }
        .MuiOutlinedInput-notchedOutline {
          border-color: var(--secondary-color);
        }

        &.Mui-focused {
          .MuiOutlinedInput-notchedOutline {
            border-color: var(--secondary-color);
          }
        }
      }
      .MuiFormHelperText-root {
        font-size: 1vw;
      }
    }
  }
}
@media screen and (max-width: $mobile-max-width) {
  .text_field__container {
    gap: 4px;
    .text_field__header {
      font-size: 14px;
    }
    .text_field__input {
      &.MuiTextField-root {
        .MuiInputBase-root {
          border-radius: 15px;
          font-size: 14px;
          .MuiInputBase-input {
            padding: 10px 15px;
          }
          .MuiInputAdornment-root {
            .MuiSvgIcon-root {
              font-size: 12px;
            }
          }
        }
        .MuiFormHelperText-root {
          font-size: 10px;
        }
      }
    }
  }
}
