.regime__container {
  box-shadow: 2px 2px 3px rgba($card-shadow, 0.5);
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: stretch;
  gap: 15px;
  position: relative;
  width: 85vw;
  max-width: 400px;
  padding: 25px;
  background-color: var(--primary-color);
  border-radius: 15px;
  color: var(--secondary-color);
  .regime__header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    .regime__title {
      margin: 5px 0;
    }
  }
  .regime__choice {
    box-shadow: 1px 2px 4px rgba($card-shadow, 0.5);
    position: absolute;
    top: -10px;
    max-width: 150px;
    padding: 5px 15px;
    background-color: var(--secondary-color);
    border-radius: 20px;
    font-size: 1rem;
    color: var(--primary-color);
    text-align: center;
  }
  .regime_details__btn {
    margin: 0 0 0 auto;
    font-weight: 600;
  }
  .tax__breakup {
    display: flex;
    flex-direction: column;
    gap: 15px;
    overflow: hidden auto;
    max-height: 40vh;
    padding: 15px 20px;
    border-top: 2px solid var(--secondary-color);
  }
}
.breakup__item {
  display: flex;
  justify-content: space-between;
}
.tax_slab__container {
  :global(.Button-root) {
    background-color: var(--secondary-color);
    border: 1px solid;
    border-radius: 25px;
    font-size: 0.8rem;
    font-weight: 600;
    color: var(--primary-color);
  }
  .tax_slab_item__container {
    width: 80vw;
    max-width: 400px;
    max-height: 60vh;
    h4 {
      margin: 10px 0;
      padding: 0 0 10px 0;
      border-bottom: 1px solid;
    }
    ul {
      display: flex;
      flex-direction: column;
      gap: 10px;
      overflow: hidden auto;
      max-height: 40vh;
      margin: 0;
      padding: 10px 25px;
      list-style-type: none;
      li {
        display: flex;
        justify-content: space-between;
      }
    }
  }
}
@media screen and (max-width: $mobile-max-width) {
  .tax_breakup__container {
    width: 75vw;
    max-height: 60vh;
    .regime__title {
      margin: 5px 0;
    }
  }
}
