.regime__container {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  width: 85vw;
  max-width: 400px;
  padding: 15px;
  background-color: var(--primary-color);
  border: 5px solid var(--secondary-color);
  color: var(--secondary-color);
  border-radius: 15px;
  header {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center;
    font-size: 1.2rem;
    font-weight: bold;
    .regime__choice {
      padding: 5px;
      width: 60vw;
      font-size: 1rem;
      max-width: 150px;
      text-align: center;
      border-radius: 20px;
      background-color: var(--secondary-color);
      color: var(--primary-color);
      box-shadow: 1px 2px 4px rgba($card-shadow, 0.5);
    }
  }
  .tax__monthly_amount {
    width: 70%;
    text-align: center;
    margin: 10px auto;
    padding: 10px;
    border-radius: 20px;
    border: 5px solid var(--secondary-color);
    font-size: 1.2rem;
    font-weight: bold;
  }
  .tax__breakup {
    padding: 5px;
    border-top: 2px solid var(--secondary-color);
    width: 100%;
    display: block;
    .tax_details {
      padding: 10px;
      margin: 10px 0;
      background-color: var(--secondary-color);
      color: var(--primary-color);
      display: flex;
      justify-content: space-between;
      div {
        display: flex;
        flex-direction: column;
        align-items: flex-start;
      }
    }
  }
  .source__container {
    display: flex;
    justify-content: space-between;
    background-color: var(--secondary-color);
    color: var(--primary-color);

    padding: 10px;
    margin: 10px 0;
    div {
      display: flex;
      flex-direction: column;
      align-items: flex-start;
    }
  }
}
