.tax_slab__container {
  :global(.Button-root) {
    background-color: var(--secondary-color);
    border: 1px solid;
    border-radius: 25px;
    font-size: 0.8rem;
    font-weight: 600;
    color: var(--primary-color);
  }
  .tax_slab_item__container {
    width: 80vw;
    max-width: 400px;
    max-height: 60vh;
    h4 {
      margin: 10px 0;
      padding: 0 0 10px 0;
      border-bottom: 1px solid;
    }
    ul {
      display: flex;
      flex-direction: column;
      gap: 10px;
      overflow: hidden auto;
      max-height: 40vh;
      margin: 0;
      padding: 10px 25px;
      list-style-type: none;
      li {
        display: flex;
        justify-content: space-between;
      }
    }
  }
}
