.fallback__header {
  width: 100%;
  padding: 10px 20px;
  height: 30px;
  background-color: var(--primary-color);
  border-bottom: 2px solid var(--secondary-color-light);
  color: var(--secondary-color);
  font-size: 1.2rem;
  font-weight: 900;
}
