@import "src/styles/variables.scss";

.income-item__container {
  display: flex;
  flex-direction: column;
  justify-content: space-around;

  background: linear-gradient(45deg, #c5d2e9, transparent);
  width: 35%;
  padding: 10px 15px; 
  border-radius: 10px;
  gap: 8px;
  font-size: 14px;
  .header-text {
    font-weight: $font-weight-700;
  }

  .amount__container {
    display: flex;
    gap: 5px;
    grid-gap: 5px;
    align-items: center;

    .amount-view {
      display: flex;
      align-items: center;

      .edit-icon {
        font-size: $font-size-14;
        padding: 0 0 0 3px;
        cursor: pointer;
      }
    }

    .amount-edit {
      display: flex;
      align-items: center;
      .save-icon {
        cursor: pointer;
      }
    }
  }
}
@media screen and (max-width: $mobile-max-width) {
  .income-item__container {
    width: 90%;
    font-size: 12px;
    padding: 6px 15px; 
    gap: 5px;
  }
}
