.footer__container {
  box-sizing: border-box;
  width: 100%;
  padding: 8px 0;
  background: var(--primary-color);
  color: var(--secondary-color);
  text-align: center;
  z-index: 1;
  font-size: 1.2rem;
  font-weight: 500;

  a {
    padding: 0 0 0 5px;
    color: var(--secondary-color);
  }
}

@media screen and (max-width: $mobile-max-width) {
  .footer__container {
    font-size: $font-size-mobile-primary;
    a {
      font-size: $font-size-mobile-primary;
    }
  }
}
