.deduction__container {
  display: flex;
  flex-direction: column;
  gap: 15px;
  color: var(--secondary-color);
  header {
    font-size: 1.1rem;
    font-weight: 900;
  }
  .deduction_form__container {
    width: 90%;
    max-width: 500px;
    display: flex;
    flex-direction: column;
    align-items: stretch;
    gap: 15px;
    align-self: center;
  }
}
