@import "src/styles/variables.scss";
.tax-section {
  height: calc(100% - 46px - 37px);
  background-color: var(--primary-bg-color);
  overflow: auto;
}
@media screen and (max-width: $mobile-max-width) {
  .tax-section {
    height: calc(100% - 41px - 34px);
    padding: 0 0 10px 0;
  }
}
