@import "src/styles/variables.scss";

.app_theme__switch {
  &.MuiSwitch-root {
    width: 5vw;
    height: 2vw;
    padding: 0;
    .MuiSwitch-switchBase {
      transform: translateX(-1.6vw);
      margin: 0;
      padding: 0px;
      width: 100%;

      .MuiSwitch-input {
        width: 100%;
        left: 30%;
      }
      .MuiSwitch-thumb {
        width: 2vw;
        height: 2vw;
        &::before {
          content: "";
          display: block;
          width: 2vw;
          height: 2vw;
          background-image: url("https://img.freepik.com/premium-photo/there-is-cartoon-pumpkin-with-happy-face-leaves-generative-ai_791316-87457.jpg");
          background-repeat: no-repeat;
          background-size: contain;
          border-radius: 50%;
        }
      }
      &.Mui-checked {
        transform: translateX(1.5vw);
        color: #fff;
        .MuiSwitch-input {
          left: -30%;
        }
        .MuiSwitch-thumb {
          &::before {
            content: "";
            background-image: url("https://images.vexels.com/content/145131/preview/sun-large-wavy-beams-icon-3f31e1.png");
          }
        }
        & + .MuiSwitch-track {
          opacity: 1;
          background-color: var(--primary-bg-color);
          &::before {
            content: "Light";
            transform: translate(0.4vw, 0.2vw);
          }
        }
      }
    }
    .MuiSwitch-track {
      opacity: 1;
      background-color: var(--primary-bg-color);
      border-radius: 1vw;
      &::before {
        content: "Dark";
        display: block;
        transform: translate(2.2vw, 0.2vw);
        font-weight: bold;
        font-size: 1vw;
        width: fit-content;
        color: var(--primary-font-color);
      }
    }
  }
}
@media screen and (max-width: $mobile-max-width) {
  .app_theme__switch {
    &.MuiSwitch-root {
      width: 50px;
      height: 20px;
      .MuiSwitch-switchBase {
        transform: translateX(-15px);
        .MuiSwitch-thumb {
          width: 20px;
          height: 20px;
          &::before {
            width: 20px;
            height: 20px;
          }
        }
        &.Mui-checked {
          transform: translateX(15px);
          .MuiSwitch-input {
            left: -30%;
            width: 100%;
          }
          & + .MuiSwitch-track::before {
            font-size: 10px;
            transform: translate(4px, 2px);
          }
        }
      }
      .MuiSwitch-track {
        border-radius: 20px;
        &::before {
          font-size: 10px;
          transform: translate(22px, 2px);
        }
      }
    }
  }
}
