.MuiPaper-root {
  .MuiMenuItem-root {
    font-size: 1rem;
    font-family: inherit;
  }
}
#root {
  .TUIModal__container {
    background-color: rgba($card-shadow, 0.4);

    .TUIModal__content {
      background-color: var(--primary-color);
      box-shadow: 7px 9px 9px 1px rgba($card-shadow, 0.2);
    }
  }
}
.tax-section {
  width: 100vw;
  padding: 60px 0 10px 0;
  overflow: auto;
}
body {
  .TUIText_field__container {
    label {
      color: var(--secondary-color);
    }
    .error__msg {
      color: var(--error-color);
    }
  }
}

@media (max-width: $mobile-max-width) {
  .MuiPaper-root {
    .MuiMenuItem-root {
      font-size: 12px;
    }
  }
}
