@import "src/styles/variables.scss";
body {
  font-family: $primary-font-family;
}
.MuiPaper-root {
  .MuiMenuItem-root {
    font-size: 1vw;
    padding: 0.25vw 2vw;
  }
}

@media (max-width: $mobile-max-width) {
  .MuiPaper-root {
    .MuiMenuItem-root {
      font-size: 12px;
    }
  }
}
