* {
  font-family: "Chakra Petch", serif;
}
body {
  width: 100vw;
  height: 100vh;
  margin: 0;
}
#root {
  overflow: auto;
  width: 100%;
  height: 100%;
}
a {
  text-decoration: none;
}
input[type="number"]::-webkit-inner-spin-button,
input[type="number"]::-webkit-outer-spin-button {
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
  margin: 0;
}
code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New";
}
div,
section {
  box-sizing: border-box;
}
