* {
  font-family: "Chakra Petch", serif;
}
body {
  width: 100vw;
  height: 100vh;
  margin: 0;
  overflow-x: hidden;
  background-color: #f5f9f8;
}
.dark {
  background-color: #15251e;
}

a {
  text-decoration: none;
  color: var(--secondary-color);
  &.active {
    color: var(--navigation-active-color);
  }
}
input[type="number"]::-webkit-inner-spin-button,
input[type="number"]::-webkit-outer-spin-button {
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
  margin: 0;
}
::-webkit-scrollbar {
  width: 10px;
}
::-webkit-scrollbar-track {
  background-color: lightgray;
}
::-webkit-scrollbar-thumb {
  background-color: rgb(58, 57, 57);
  border-radius: 20px;
}
div,
section {
  box-sizing: border-box;
}
