.card__wrapper {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  gap: 15px;

  padding: 110px 15px;
}

.card__container {
  box-shadow: 1px 4px 9px rgba($card-shadow, 0.5);
  width: 300px;
  background-color: var(--primary-color);
  border-radius: 15px;
  padding: 10px 25px;
  display: flex;
  flex-direction: column;
  gap: 25px;
  justify-content: space-between;
  p {
    margin: 0;
  }
  .card {
    display: flex;
    width: 100%;
    justify-content: space-between;
    align-items: flex-start;

    .card__content {
      color: var(--secondary-color);
      > h2 {
        font-size: 1.2rem;
        margin: 5px 0;
        font-weight: 600;
      }
    }
  }
}

@media screen and (max-width: $mobile-max-width) {
  .card__wrapper {
    justify-content: center;
    gap: 10px;
  }
  .card__container {
    width: 80vw;
    gap: 10px;
    h2 {
      font-size: 16px;
    }
  }
}
