.card__wrapper {
  display: flex;
  gap: 15px;
  overflow: auto;
  max-width: 80vw;
  padding: 15px;
}

.card__container {
  box-shadow: 1px 4px 9px rgba($card-shadow, 0.5);
  width: 300px;
  background-color: var(--primary-color);
  border-radius: 15px;
  .card__action_bar {
    display: flex;
    justify-content: space-between;
    width: inherit;
    padding: 10px 15px;
    background-color: var(--secondary-color);
    border-radius: 15px 15px 0 0;
    .MuiIconButton-root {
      width: fit-content;
      background-color: var(--primary-color);
      border-radius: 15px;
      color: var(--secondary-color);
    }
  }
  .card__content {
    width: inherit;
    min-height: 150px;
    padding: 10px;
    color: var(--secondary-color);
    > h2 {
      margin: 10px 0;
    }
    > p {
      margin: 0;
    }
  }
}

@media screen and (max-width: $mobile-max-width) {
  .card__container {
    width: 250px;
  }
}
