.footer__container {
  box-sizing: border-box;
  position: fixed;
  bottom: 0;
  width: 100vw;
  padding: 1vw 0;
  background: var(--secondary-bg-color);
  color: var(--primary-font-color);
  text-align: center;
  z-index: 1;
  font-size: 1vw;
  font-weight: 500;

  a {
    padding: 0 0 0 1vw;
    font-family: $primary-font-family;
    color: var(--primary-font-color);
    font-size: 1vw;
  }
}

@media screen and (max-width: $mobile-max-width) {
  .footer__container {
    font-size: $font-size-mobile-primary;
    a {
      font-size: $font-size-mobile-primary;
    }
  }
}
