@import "src/styles/variables.scss";

.footer__container {
  box-sizing: border-box;
  position: fixed;
  bottom: 0;
  width: 100%;
  padding: 10px 0;
  background: #c8c8c8;
  @include font($size: $font-size-non-mobile-primary, $weight: bold);
  text-align: center;

  .footer__text {
    padding: 0 0 0 5px;
    font-family: $primary-font-family;
    color: $color-black;
  }
}

@media screen and (max-width: $mobile-max-width) {
  .footer__container {
    font-size: $font-size-mobile-primary;
  }
}
