@import "src/styles/variables.scss";

.footer__container {
  box-sizing: border-box;
  position: fixed;
  bottom: 0;
  width: 100vw;
  padding: 10px 0;
  background: #c8c8c8;
  font-weight: 500;
  font-size: 1vw;
  text-align: center;
  z-index: 1;

  .footer__text {
    padding: 0 0 0 5px;
    font-family: $primary-font-family;
    color: $color-black;
  }
}

@media screen and (max-width: $mobile-max-width) {
  .footer__container {
    font-size: $font-size-mobile-primary;
  }
}
